/* 공통 스타일 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff; /* 흰색 */
    color: #000; /* 검은색 */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 화면 크기에 맞춰 설정 */
}
.sidebar {
    background-color: #f2f2f2; /* 연회색 */
    padding: 20px;
    text-align: center;
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 고정 위치 설정 */
    top: 0; /* 상단에 붙이기 */
    bottom: 0; /* 하단에 고정 */
    left: 0; /* 좌측에 고정 */
    width: 200px; /* 사이드바 너비 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
    border-radius: 8px;
}
.sidebar h2 {
    color: #333; /* 어두운 회색 */
    font-size: 24px;
    margin-top: 0;
}
.main-content {
    padding: 20px;
    flex: 1; /* 나머지 공간을 채우도록 설정 */
    display: flex; /* 내용을 가운데로 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
}
header {
    background-color: #f2f2f2; /* 연회색 */
    padding: 20px;
    text-align: center;
    width: 100%; /* 헤더 너비 조정 */
    overflow: hidden; /* 내용이 넘치는 경우 숨김 */
    border-radius: 8px;
}
h1 {
    font-size: 36px;
    margin: 0;
    color: #333; /* 어두운 회색 */
}
nav {
    background-color: #f2f2f2; /* 연회색 */
    padding: 10px;
    text-align: center;
    width: 100%; /* 네비게이션 너비 조정 */
    overflow: hidden; /* 내용이 넘치는 경우 숨김 */
    border-radius: 8px;
}
nav a {
    color: #000; /* 검은색 */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out;
}
nav a:hover {
    background-color: #ddd; /* 밝은 회색 */
}
main {
    padding: 20px;
    margin-top: 20px; /* 메인 콘텐츠 상단 간격 추가 */
}
footer {
    background-color: #f2f2f2; /* 연회색 */
    padding: 20px;
    text-align: center;
    width: 100; /* 화면 너비에 맞춤 */
    border-radius: 8px;
}


/* 미디어 쿼리 */
@media only screen and (min-width: 768px) {
    /* 휴대폰보다 큰 화면일 때 */
    .sidebar {
        display: block; /* 사이드바 표시 */
    }
    .main-content {
        margin-left: 240px; /* 사이드바와 메인 사이의 공간 조정 */
    }
    footer {
        display: none; /* footer 숨김 */
    }
}
